.opened--header__principal--menu {
    height: 100%;
}

.openIconContainer--header__principal--menu {
    padding    : 0;
    height     : 9vw;
    width      : 9vw;
    display    : flex;
    align-items: center;

}

.menuIcon--header__principal--menu {
    height        : 6vw;
    width         : 6vw;
    stroke-width  : 2;
    vertical-align: middle;
}

.drawer--header__principal--menu {
    background-color: #EE1B24;
    font-family     : "Arvo-regular" !important;
    width           : 100% !important;
    max-width       : none !important;
}

.closeIcon {
    color: white;
}

.childrenContainer--header__principal--menu {
    flex-direction: column;
}

.drawerContent--header__principal--menu :global(.vtex-minicart-2-x-minicartWrapperContainer) {
    height     : 15vw;
    margin     : 0;
    padding    : 0;
    display    : flex;
    align-items: start;
}

.drawerContent--header__principal--menu :global(.vtex-minicart-2-x-minicartContainer) {
    height  : 100%;
    position: absolute;
    top     : calc(-30vw);
    left    : 37vw;
    z-index : 3;
}

.drawerContent--header__principal--menu :global(.vtex-minicart-2-x-minicartQuantityBadge) {
    visibility: hidden;
}

.drawerContent--header__principal--menu :global(.vtex-store-icons-0-x-cartIcon) {
    height: 6vw;
    width : 6vw;
}

.drawerContent--header__principal--menu :global(.vtex-button) {
    width        : 20vw;
    padding-right: 15vw;
}

.drawerContent--header__principal--menu :global(.vtex-button):hover {
    background-color: transparent;
}

.drawerContent--header__principal--menu :global(.vtex-minicart-2-x-openIconContainer) {
    height     : 100%;
    display    : flex;
    align-items: center;
}