.opened--header__principal--menu {
    height: 100%;
}

.openIconContainer--header__principal--menu {
    padding    : 0;
    height     : 9vw;
    width      : 9vw;
    display    : flex;
    align-items: center;

}

.menuIcon--header__principal--menu {
    height        : 6vw;
    width         : 6vw;
    stroke-width  : 2;
    vertical-align: middle;
}

.drawer--header__principal--menu {
    background-color: #EE1B24;
    font-family     : "Arvo-regular" !important;
    width           : 100% !important;
    max-width       : none !important;
}

.closeIcon {
    color     : white;
}