.submenuContainerVertical {
    background-color: red;
}

.styledLinkText {
    font-family: "Arvo-Bold";
    text-align : center;
    font-size  : 20px;

}

.styledLinkContainer {
    height        : 149px;
    border-top    : 1px dotted #ffffff;
    vertical-align: middle;
    display       : flex;
    align-items   : center;
}

.styledLinkContent {
    display        : flex;
    justify-content: center;
    vertical-align : middle;
}