.flexRowContent--desktop__row {
    padding: 0 50.4px 2em;
}

.flexRowContent--desktop__row :global(.vtex-breadcrumb-1-x-container) {
    font-family: "Arvo-Regular";
}

.flexRowContent--desktop__row .flexCol--product__info--data {
    padding-left : 5em;
    margin-bottom: 80px;
}

.flexRowContent--desktop__row :global(.vtex-store-components-3-x-productImagesContainer) {
    padding-left: 2em;
}

.flexRowContent--desktop__row :global(.vtex-store-components-3-x-productNameContainer) {
    font-family   : "Arvo-Bold";
    text-transform: capitalize;
    font-size     : 30px;
    margin        : 0;
}

.flexRowContent--desktop__row :global(.vtex-store-components-3-x-price_listPriceContainer) {
    color          : #cccccc;
    text-decoration: line-through;
    font-size      : 20.8px;
    margin-right   : 0.5em;
    font-family    : "Arvo-Regular";
    margin-top     : 5.2px;
}

.flexRowContent--desktop__row :global(.vtex-store-components-3-x-priceContainer) {
    margin-top: 5.2px;
}

.flexRowContent--desktop__row :global(.vtex-store-components-3-x-price_listPriceLabel) {
    color          : #cccccc;
    text-decoration: line-through;
    font-size      : 20.8px;
    margin-right   : 0.5em;
    font-family    : "Arvo-Regular";
    margin-top     : 5.2px;
    padding        : 0;
    margin         : 0;
}


.flexRowContent--desktop__row :global(.vtex-store-components-3-x-sellingPrice) {
    font-size: 26px;
}

.flexRowContent--desktop__row .flexColChild--product__info--data {
    height: fit-content !important;
}

.flexRowContent--desktop__row .flexRow--info__data--quantity-sku {
    margin-top   : 1.8em;
    margin-bottom: 20px;
}

.flexRowContent--desktop__row :global(.vtex-numeric-stepper__minus-button) {
    height: 44px;
}

.flexRowContent--desktop__row :global(.vtex-numeric-stepper__plus-button) {
    height: 44px;
}

.flexRowContent--desktop__row :global(.vtex-numeric-stepper__input) {
    height: 44px;
}

.flexRowContent--desktop__row :global(.vtex-store-components-3-x-frameAround) {
    border       : solid 1px black;
    border-radius: 0;
}

.flexRowContent--info__data--add-to-cart-wish .stretchChildrenWidth {
    width       : 193px !important;
    margin-right: 32px;
}

.flexRowContent--info__data--add-to-cart-wish :global(.vtex-wish-list-1-x-wishlistIconContainer) {
    display        : flex;
    justify-content: center;
}


.flexRowContent--info__data--add-to-cart-wish .stretchChildrenWidth:first-child :global(.vtex-button) {
    height          : 148px;
    width           : 148px !important;
    background-color: transparent;
    background-image: url("assets/img/black-cart-button.png");
    background-size : cover;
    border-radius   : 50%;
    transition      : background 0.4s;
}

.flexRowContent--info__data--add-to-cart-wish .stretchChildrenWidth:first-child :global(.vtex-button):hover {
    background-image: url("assets/img/red-cart-button.png");
    color           : red;
}

.flexRowContent--info__data--add-to-cart-wish .stretchChildrenWidth:first-child :global(.vtex-button):hover :global(.vtex-add-to-cart-button-0-x-buttonText) {
    color: red;
}


.flexRowContent--info__data--add-to-cart-wish :global(.vtex-add-to-cart-button-0-x-buttonText) {
    color      : #808080;
    font-family: "Arvo-Regular";
    font-size  : 16px;
    position   : relative;
    top        : 105px;
}


.flexRowContent--info__data--add-to-cart-wish .stretchChildrenWidth:nth-child(2n) :global(.vtex-button) {
    height          : 148px;
    width           : 148px !important;
    background-color: transparent;
    border-radius   : 50%;
}

.flexRowContent--info__data--add-to-cart-wish .stretchChildrenWidth:nth-child(2n) :global(.vtex-button__label) {
    height : 100%;
    width  : 100%;
    padding: 0 !important;
    margin : 0;
}

.flexRowContent--info__data--add-to-cart-wish .stretchChildrenWidth:nth-child(2n) :global(.vtex-wish-list-1-x-fill) {
    height         : 100%;
    width          : 100%;
    padding        : 0;
    margin         : 0;
    background     : url("assets/img/red-heart-button.png");
    background-size: cover;
    border-radius  : 50%;
    transition     : background 0.4s;
}

.flexRowContent--info__data--add-to-cart-wish .stretchChildrenWidth:nth-child(2n) :global(.vtex-wish-list-1-x-fill):hover {
    background     : url("assets/img/grey-heart-button.png");
    background-size: cover;
}

.flexRowContent--info__data--add-to-cart-wish .stretchChildrenWidth:nth-child(2n) :global(.vtex-wish-list-1-x-outline) {
    height         : 100%;
    width          : 100%;
    padding        : 0;
    margin         : 0;
    background     : url("assets/img/grey-heart-button.png");
    background-size: cover;
    border-radius  : 50%;
    transition     : background 0.4s;
}

.flexRowContent--info__data--add-to-cart-wish .stretchChildrenWidth:nth-child(2n) :global(.vtex-wish-list-1-x-outline)::after {
    content    : "Add to wishlist";
    position   : relative;
    top        : 170px;
    color      : #808080;
    font-size  : 16px;
    font-family: "Arvo-Regular";
}

.flexRowContent--info__data--add-to-cart-wish .stretchChildrenWidth:nth-child(2n) :global(.vtex-wish-list-1-x-outline):hover {
    background     : url("assets/img/red-heart-button.png");
    background-size: cover;
}

.flexRowContent--info__data--add-to-cart-wish .stretchChildrenWidth:nth-child(2n) :global(.vtex-wish-list-1-x-fill)::after {
    content    : "Item in wishlist";
    position   : relative;
    top        : 170px;
    color      : #808080;
    font-size  : 16px;
    font-family: "Arvo-Regular";
}

.flexRowContent--info__data--add-to-cart-wish .stretchChildrenWidth:nth-child(2n) :global(.vtex-wish-list-1-x-fill):hover::after {
    content    : "Remove";
    position   : relative;
    top        : 170px;
    color      : #808080;
    font-size  : 16px;
    font-family: "Arvo-Regular";
}

.flexRowContent--info__data--add-to-cart-wish {
    height: 192px;
}

.flexColChild--product__info--data :global(.vtex-store-components-3-x-productBrandContainer) {
    margin     : 19px 0;
    font-family: "Arvo-Bold";
    font-size  : 24px;

}

.flexColChild--product__info--data :global(.vtex-store-components-3-x-productDescriptionContainer) {
    margin     : 19px 0;
    font-family: "Arvo-Bold";


}

.flexColChild--product__info--data :global(.vtex-store-components-3-x-productDescriptionTitle) {
    font-size     : 24px;
    text-transform: capitalize;
}

.flexColChild--product__info--data :global(.vtex-store-components-3-x-sellingPrice) {
    padding    : 0;
    margin     : 0;
    font-weight: 200;
}

.flexColChild--product__info--data :global(.vtex-store-components-3-x-specificationsTableContainer) {
    padding    : 0;
    margin     : 19px 0;
    font-size  : 16px;
    font-family: "Arvo-Regular";
}

.flexColChild--product__info--data :global(.vtex-store-components-3-x-specificationsTitle) {
    font-size: 24px;
}

.flexColChild--product__info--data :global(.vtex-store-components-3-x-specificationsTablePropertyHeading) {
    font-family : "Arvo-Bold";
    color       : black;
    padding-left: 0;
}

.flexColChild--product__info--data :global(.vtex-store-components-3-x-specificationsTableSpecificationHeading) {
    font-family: "Arvo-Bold";
    color      : black;
}

.flexRowContent--desktop__row :global(.vtex-reviews-and-ratings-3-x-stars) {
    color: black;
}

.flexColChild--product__info--data :global(.vtex-store-components-3-x-specificationItemProperty) {
    padding-left: 0;
}

.flexColChild--product__info--image :global(.vtex-store-components-3-x-shareContainer) {
    display        : flex;
    align-items    : center;
    justify-content: end;
    margin-bottom  : 80px;
    margin-top     : 16px;
}

.flexColChild--product__info--image :global(.vtex-store-components-3-x-shareLabel) {
    font-size: 16px;
}

.flexColChild--product__info--image :global(.vtex-store-components-3-x-shareSocialIcon) {
    width      : 44px;
    height     : 44px;
    margin-left: 6.4px;
}

.flexColChild--product__info--image :global(.vtex-store-components-3-x-caretIcon--product__info--image) {
    stroke-width: 2;
    width       : 42px;
    height      : 42px;
}

.flexColChild--product__info--image :global(.vtex-store-components-3-x-caretIcon--product__info--image):hover {
    color: red;
}

.flexRowContent--desktop__row :global(.vtex-reviews-and-ratings-3-x-container) {
    font-family: "Arvo-Regular";
    color      : black;
}

.flexRowContent--desktop__row :global(.vtex-reviews-and-ratings-3-x-reviewsHeading) {
    font-family: "Arvo-Regular";
}

.flexRowContent--desktop__row :global(.vtex-reviews-and-ratings-3-x-reviewsOrderBy) {
    font-family: "Arvo-Regular";
}

.flexRowContent--desktop__row :global(.vtex-dropdown__caption) {
    font-family: "Arvo-Regular";
}

.flexRowContent--product__tabs :global(.vtex-styleguide-9-x-input) {
    background-color: white;
}

.flexRowContent--product__tabs :global(.vtex-tab-layout-0-x-listItemActive) :global(.vtex-button) {
    background-color: #a8a8a8;
    color           : black;
}

.flexRowContent--product__tabs :global(.vtex-questions-and-answers-0-x-create-question-container) {
    height: 120px;
}

.flexRowContent--product__tabs :global(.vtex-button):hover {
    color: black;
}

.flexRowContent--product__tabs :global(.vtex-store-components-3-x-specificationsTitle) {
    font-family: "Arvo-Regular";
    margin-top : 28px;
}

.flexRowContent--product__tabs :global(.vtex-button) {
    width: 250px;
}

.flexRowContent--product__tabs :global(.vtex-button__label) {
    padding: 0;
    margin : 0;
}


.flexRow--desktop__row :global(.vtex-store-components-3-x-specificationsTitle) {
    display        : flex;
    justify-content: start;
    text-align     : center;
    font-size      : min(3.75vw, 24px);
    margin-bottom  : 19px;
}

.flexRow--desktop__row :global(.vtex-store-components-3-x-specificationsTableHead) {
    display: none;
}

.flexRow--desktop__row :global(.vtex-store-components-3-x-specificationsTableRow) {
    display       : flex;
    flex-direction: column;
    font-size     : min(2.5vw, 16px);
}

.flexRow--desktop__row :global(.vtex-store-components-3-x-specificationItemSpecifications) {
    width    : 100%;
    font-size: min(2.5vw, 16px);
    border   : none;
    padding  : 0;
}

.flexRow--desktop__row :global(.vtex-store-components-3-x-specificationItemSpecifications)::before {
    content    : "· ";
    font-weight: bolder;
    font-size  : min(3.7vw, 24px);
    ;
}

.flexRow--desktop__row :global(.vtex-store-components-3-x-specificationItemProperty) {
    width      : 100%;
    font-family: "Arvo-Bold";
    font-size  : min(2.5vw, 16px);
    border     : none;
    padding    : 8px 0 0;
}

.flexRow--desktop__row :global(.vtex-store-components-3-x-specificationItemProperty)::after {
    content: ":";
}

.flexRow--desktop__row :global(.vtex-store-components-3-x-specificationItemSpecifications) {
    font-family: "Arvo-Regular";
}