/* .drawer--header__container--minicart {
    z-index: 2;
} */

.drawerContent--header__container--minicart {
    padding: 0px 24px 30px 60px;
}

.minicartTitle--container__minicart--content {
    visibility : hidden;
    font-family: "Arvo-Bold";
    color      : black;
    text-align : left;
}

.minicartTitle--container__minicart--content::after {
    content   : "Cart";
    visibility: visible;
    position  : relative;
    top       : 10px;
    left      : -130px;
}

.drawer--header__container--minicart {
    background-color: #f2f2f2;
    font-family     : "Arvo-Regular";
    color           : black;
}

.closeIconButton--header__container--minicart {
    background-color: #cccccc;
    height          : 48px;
    width           : 48px;
    border-radius   : 50%;
    position        : relative;
    left            : 88%;
    top             : 2em;
    display         : flex;
    text-align      : center;
    vertical-align  : middle;
}

.closeIconButton--header__container--minicart:hover {
    background-color: gray;
}

.closeIcon--header__container--minicart {
    color: white;
}

.minicartSummary {
    padding      : 0;
    align-content: flex-end;
    width        : 50%;
}

.minicartProductListContainer--minicart__content--list {
    border-bottom: 1px dotted black;
    border-top   : 1px dotted black;
    margin-bottom: 25px;
    padding-left : 0;
    padding-right: 0;
    overflow     : visible;
    height       : auto;
}

.minicartCheckoutButton .vtex-button {
    height: 70px;
}

.minicartEmptyStateContainer--col__minicart--empty {
    justify-content: start;
}

.minicartEmptyStateContainer--col__minicart--empty :global(.vtex-flex-layout-0-x-flexRowContent--minicart__empty--continueshopping) {
    margin-bottom: 320px;
    margin-top   : 20px;
    margin-left  : -10px;
}

.minicartContentContainer--container__minicart--content :global(.vtex-flex-layout-0-x-flexRow--minicart__empty--continueshopping) {
    margin-left  : 0px;
    margin-top   : 20px;
    margin-bottom: 20px;
}

.minicartContentContainer--container__minicart--content :global(.vtex-store-components-3-x-container) {
    padding-left: 0;
}

.minicartContentContainer--container__minicart--content :global(.vtex-flex-layout-0-x-flexRow--minicart__empty--continueshopping):hover {
    color: red;
}