.paragraph--qty {
    margin-right  : 10px;
    font-family   : "Arvo-Regular";
    font-size     : 18px;
}
.wrapper--qty {
    display: flex;
    vertical-align: middle;
}
.paragraph--footer__col--questions {
    color      : #808080;
    font-family: "Arvo-Regular";
    text-align : center;
}
