.productImageContainer {
    width: 188px !important;
}

.productImage {
    width: 188px;
}

.productName {
    color: black;
}

.price {
    text-align: left;
}

.quantityDropdownContainer {
    color: black !important;
}

.removeButton {
    margin-right    : 44px;
    color           : #999999 !important;
    background-color: white;
}

.currencyContainer--desktop__price {
    text-align: left;
    font-family: "Arvo-Regular";
    font-size: 18px;
}