.flexCol--main-container-desktop {
    color      : black;
    font-size  : 14px;
    font-weight: "Arvo-Regular" !important;
    margin-left: 30px;
    padding-top: 40px;
}

.flexCol--priceWrapper {
    text-align: left;
    margin    : 0;
}

.flexColChild--main-container-desktop {
    height: 35px !important;
}



.flexColChild--minicart_footer--col:first-child {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.flexColChild--minicart_footer--col:nth-child(2n) {
    display        : flex;
    justify-content: center;
}

.flexColChild--minicart_footer--col:nth-child(3n) {
    display        : flex;
    justify-content: center;
}

.flexColChild :global(.vtex-button) {
    font-family   : "Arvo-Bold";
    width         : 290px;
    height        : 78px;
    text-transform: capitalize;
    border-radius: 5px;
    border: none
}

.flexColChild :global(.vtex-button):hover {
    color: red;
 
}