.searchBarInnerContainer--header__container--searchbar :first-child { 
    border: none;
    background-color: black;
}

.searchBarIcon--header__container--searchbar{
    color: white;
}

.autoCompleteOuterContainer--header__container--searchbar :nth-child(3n) {
    display:none;
}