.label--header__container--join {
    font-size      : 16px;
    text-decoration: none;
    font-family    : "Arvo-Regular";
    color          : white;
}

.label--header__container--join:hover {
    font-style: italic;
}