.searchBarInnerContainer--header__container--searchbar :first-child {
    border          : none;
    background-color: black;
}

.searchBarIcon--header__container--searchbar {
    color: white;
}

.autoCompleteOuterContainer--header__container--searchbar :nth-child(3n) {
    display: none;
}

.autoCompleteOuterContainer--header__container--searchbar :nth-child(2n) {
    color        : white;
    font-family  : "arvo-regular";
    border-radius: 0 0;
    position     : relative;
    top          : -6px;
    margin-right : 2vw;
}

.autoCompleteOuterContainer--header__container--searchbar {
    width: 100%;
}