.flexRowContent--desktop__footer .stretchChildrenWidth {
    margin : 28px 32px 0;
    width  : 200px !important;
    display: inline-block;
}

.flexRowContent--desktop__footer .flexColChild :global(.vtex-menu-2-x-styledLinkContainer) {
    margin   : 0;
    padding  : 6.4px 0;
    word-wrap: break-word;
}

.flexRowContent--desktop__footer .flexColChild {
    height: auto !important;

}

.flexRowContent--desktop__footer :global(.vtex-rich-text-0-x-paragraph) {
    margin: 12.8px 0 28.8px;
}

.flexRowContent--desktop__footer--social-network .stretchChildrenWidth {
    margin: 0;
    width : 44px !important;
}

.flexRowContent--desktop__footer--pay-methods .stretchChildrenWidth {
    padding: 0;
    margin : 0 5px;
    width  : fit-content !important;
}

.flexRowContent--desktop__footer--pay-methods {
    justify-content: center;
}

.flexRow--desktop__footer :global(.vtex-store-components-3-x-container) {
    padding: 0;
    margin : 0;
}

.flexRowContent--desktop__footer {
    padding: 0;
}

.flexRowContent--desktop__footer :global(.vtex-menu-2-x-styledLinkContent) {
    height     : auto;
    word-wrap  : break-word;
    white-space: normal;
}