.buttonLink--store-finder {
    margin-top      : 2em;
    width           : 187px;
    height          : 52px;
    font-family     : "Arvo-Bold";
    background-color: #ed1c24;
    border          : none;
    border-radius   : 0;
}

.buttonLink--store-finder:hover {
    background-color: #970C11;
}