.wrapper--header__mobile--search-text {
    font-family: "Arvo-Bold";
    color      : white;

}

.container--header__mobile--search-text {
    position: relative;
    top     : -25px;
    left    : -30px;
}