.searchBarInnerContainer--header__mobile--search-bar :first-child {
    border          : none;
    background-color: black;
    align-items     : center;

}

.searchBarInnerContainer--header__mobile--search-bar :nth-child(2n) {
    width      : 70%;
    color      : white;
    font-family: "Arvo-regular";
    font-size  : min(2.5vw, 16px);
    height     : 60%;
}


.searchIcon--header__mobile--search-bar {
    color : white;
    height: 4vw;
    width : 4vw;
}

.autoCompleteOuterContainer--header__mobile--search-bar {
    height: min(9vw, 80px);
    width : 100%;
}

.autoCompleteOuterContainer--header__mobile--search-bar :nth-child(3n) {
    background-color: black;
    visibility      : visible;
    height          : 6vw;
}

.searchBarInnerContainer--header__mobile--search-bar {
    height  : 9vw;
    position: relative;
    padding : 0;
    margin  : 0;

}

.searchBarContainer--header__mobile--search-bar {
    width: 100%;
}


.searchBarIcon--header__mobile--search-bar--search :first-child {
    color           : transparent;
    width           : 70px;
    position        : relative;
    z-index         : 3;
    background-color: transparent;
}