.container--principal__search-bar--modal {
    background-color: transparent !important;
}

.modal--principal__search-bar--modal {
    background-color: transparent !important;

}

.paper--principal__search-bar--modal {
    background-color: transparent;
    width           : 80vw;
    height          : min(9vw, 80px);
    margin          : 0;
    padding         : 0;
}

.backdrop--principal__search-bar--modal {
    background-color: transparent;
}

.triggerContainer--header__principal--search-bar {
    height      : 4.3vw;
    width       : 4.3vw;
    padding     : 0;
    margin      : 0;
    margin-right: 6vw;
    display     : flex;
    align-items : center;
    color       : white;
}

.container--principal__search-bar--modal :global(.vtex-store-components-3-x-container) {
    height : 100%;
    padding: 0;
    margin : 0;
}

.container--principal__search-bar--modal :global(.vtex-store-components-3-x-searchBarContainer) {
    height : min(9vw, 80px);
    padding: 0;
    margin : 0;
}

.container--principal__search-bar--modal :global(.vtex-input-prefix__group) {
    height: min(9vw, 80px);
    align-items: center;
}