.wrapper--header__mobile--search-text {
    font-family: "Arvo-Bold";
    color      : white;
    font-size  : min(2.8vw, 18px)
}

.container--header__mobile--search-text {
    position: relative;
    left    : -70px;
    height  : 8vw;
    width   : 20vw;
}