.searchBarInnerContainer--header__mobile--search-bar :first-child {
    border          : none;
    background-color: black;

}

.searchBarInnerContainer--header__mobile--search-bar :nth-child(2n) {
    width      : 70%;
    color      : white;
    font-family: "Arvo-regular";
}


.searchIcon--header__mobile--search-bar {
    color : white;
    height: 26px;
    width : 26px;
}

.autoCompleteOuterContainer--header__mobile--search-bar {
    height: 70px;
    width : 100%;
}

.autoCompleteOuterContainer--header__mobile--search-bar :nth-child(3n) {
    background-color: black;
    visibility      : visible;
    height          : 40px;
}

.searchBarInnerContainer--header__mobile--search-bar {
    height  : 80px;
    position: relative;
    top     : -35px;
    left    : 50px;
}

.searchBarContainer--header__mobile--search-bar {
    width: 100%;
}


.searchBarIcon--header__mobile--search-bar--search :first-child {
    color           : transparent;
    width           : 70px;
    position        : relative;
    z-index         : 3;
    background-color: transparent;
}