.searchBarInnerContainer--header__mobile--search-bar :first-child { 
    border: none;
    background-color: black;
   
}
.searchBarInnerContainer--header__mobile--search-bar :nth-child(2n){ 
   width: 50%;
   color: white;
   font-family: "Arvo-regular";
}

.searchBarIcon--header__mobile--search-bar{
    color: white;
}

.autoCompleteOuterContainer--header__mobile--search-bar :nth-child(3n) {
    background-color: black;
    visibility:visible;
}

.searchBarInnerContainer--header__mobile--search-bar{
  
 position: relative;
 top: -40px;
 left: 60px;
}