.container--principal__search-bar--modal {
    background-color: transparent !important;
}
.modal--principal__search-bar--modal {
    background-color: transparent !important;
  
}
.paper--principal__search-bar--modal {
    background-color: transparent;
    width: 65%;
}

.backdrop--principal__search-bar--modal {
    background-color: transparent;
}