.wrapper--section__image--message{
    font-family: "Arvo-Regular";
    font-weight: bold;
    color: #ffffff;
    width: 80%;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.3;
    font-size: 30px;
}

.heading--section__image--message {
    text-align: center;
}

.container--section__image--message {
    display: flex;
    justify-content: center;
}

@media (max-width: 1200px) {
.heading--section__image--message {
    font-size: 30px;
}
}