.unitPriceMeasurementUnit {
    visibility: hidden;
}

.unitPricePerUnitCurrency {
    font-family: "Arvo-Regular";
    color      : black;
    font-size  : 3vw;
}

.quantitySelector {
    display: flex;
    justify-content: center;
    align-items: center;
}