.headerStickyRow--mobile__header--principal {
    position: relative;
    
}

.headerRow--mobile__header--principal {
    color: white;
}

.headerRowBackground--mobile__header--principal {
    background-color: black;
    height: 9vw;
    
}
.headerRowContainer--mobile__header--principal {
    height: 9vw;
    color: white;
    
}

.headerRowContainer--mobile__header {
    color: white;
}
