.headerRowBackground--mobile__header--principal{
    background-color: black;
}

.headerStickyRow--mobile__header--principal{
    height: 48px;
    width: 640;
}

.headerRowContainer--mobile__header--principal {
    height: 48px;
    width: 640;
}