.opened--header__principal--menu{
    height: 100%;
}
.openIconContainer--header__principal--menu {
    margin-left: 10PX;
    width: 110px;
    height: 80px;
    justify-content: center;
    text-align: center;
   
}
.menuIcon--header__principal--menu {
    height: 48px;
    width: 48px;
}