.caretIcon--vitrine__list--slider {
    stroke-width: 2;
    height      : 30px;
    width       : 30px;
}

.sliderArrows--vitrine__list--slider {
    color           : white;
    top             : 60px;
    background-color: gray !important;
    height          : 45px;
    width           : 37px;
}

.sliderArrows--vitrine__list--slider:hover {
    background-color: black !important;
    color           : red;
}