.brandName {
    font-family: "Arvo-Bold";
    font-size: 16px;
}

.sellingPrice {
    font-family: "Arvo-Regular";
    font-size: 16px;
}

.element--vitrine__list--shelf {
    border: 1px solid #e6e6e6;
}